@import "tailwindcss";

.nav-list-item:first-child{
    margin-top: 30px;
}

@media (min-width: 768px){
    .nav-list{
        margin-right: 20px;
    }
    .nav-list-item{
        margin: 10px 0;
        padding: 5px 20px;
    }
}


@media (min-width: 1024px){
    .nav-list-item{
        margin: 30px 0;
        padding: 5px 15px;
    }
}