@media (min-width: 350px) {
    .carousel {
    position: relative;
    width: 100%;
    max-width: 650px;
    max-height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    }

    /* Imagen */
    .carousel-image {
        width: 100%;
        height: 420px;
        object-fit: cover;
        object-position: center;
    }

    /* Botones */
    .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(63, 78, 69, 0.7);
        color: white;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav.left {
        left: 12px;
    }

    .nav.right {
        right: 12px;  
    }

    /* Indicadores */
    .indicator {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
    }

    .dot.active {
        background-color: #30ce6f;
    }

}

@media (min-width: 768px){
    .carousel-image {
        height: 350px;
    }

}

@media (min-width: 1024px){
    .carousel-image {
        height: 500px;
    }
}