.fade-down-accomodations {
    opacity: 0;
    transform: translateY(-15px);
}

.fade-down-accomodations.show {
    animation: fadeDown 0.6s ease-out forwards;
}

.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }


@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}